@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for webkit */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #ffffff; 
}
::-webkit-scrollbar-thumb {
  background: #fdba74; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #fb923c; 
}