@import "tailwindcss";

@theme {
  --font-sans: 'Kanit', sans-serif;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f3f4f6; 
}
::-webkit-scrollbar-thumb {
  background: #d1d5db; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9ca3af; 
}

/* Custom Utilities */
@utility text-xxs {
  font-size: 10px;
}